<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Student Registration form</title>
</head>

<body>
<h3>Student Registration form</h3>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
    First name: <label> <input type="text" th:field="*{firstName}"></label>
    <br><br>
    Last name: <label> <input type="text" th:field="*{lastName}"></label>
    <br><br>
    Country:
    <label>
        <select th:field="*{country}">
            <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>
        </select>
    </label>
    <br><br>

    Favorite language:

    <input type="radio" th:field="*{favLanguage}" th:value="Java">Java
    <input type="radio" th:field="*{favLanguage}" th:value="Kotlin">Kotlin
    <input type="radio" th:field="*{favLanguage}" th:value="Python">Python
    <input type="radio" th:field="*{favLanguage}" th:value="Bash">Bash

    <br><br>
    <input type="submit" value="Submit">
</form>
</body>

</html>
