<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Student Registration form</title>
</head>

<body>
<h3>Student Registration form</h3>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
    First name: <label> <input type="text" th:field="*{firstName}"></label>
    <br><br>
    Last name: <label> <input type="text" th:field="*{lastName}"></label>
    <br><br>
    Country:
    <label>
        <select th:field="*{country}">
            <option th:value="None">None</option>
            <option th:value="India">India</option>
            <option th:value="Brazil">Brazil</option>
            <option th:value="Sweden">Sweden</option>
            <option th:value="Canada">Canada</option>
            <option th:value="Germany">Germany</option>
            <option th:value="Qatar">Qatar</option>
        </select>
    </label>
    <br><br>
    <input type="submit" value="Submit">
</form>
</body>

</html>
